.body{
    width: 100vw;
    height: 100vh;
    background-color: #1ab974;
    // background: rgb(77,197,145);
    // background: linear-gradient(38deg, rgba(77,197,145,1) 47%, rgba(255,118,72,1) 58%);
}